html {
  background-color: linen;
}

h1, h2, h3 {
  color: darkgray;
  font-family: 'Bevan', cursive;
}

ol, p, ul, dl, figcaption {
  font-family: Trebuchet, sans-serif;
}

blockquote, footer {
  font-family: Times, serif;
  font-style: italic;
}

ol {
  list-style-type: none;
  padding: 0;
}

a {
  color: maroon;
}

a:hover {
  color: red;
}

b {
  color: darkgray;
}

ul {
  list-style-type: disc;
}

figcaption {
  font-style: italic;
  font-size: 0.75rem;
}

dt {
  font-style: bold;
}

blockquote {
  font-size: 2rem;
}
